<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fy.userdifined">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 安卓中的坐标系 -->
        <activity
            android:name=".coordinate.CoordinateActivity"
            android:screenOrientation="portrait" />

        <!-- 自定义 View -->
        <activity android:name=".custom.CustomViewActivity"
            android:screenOrientation="portrait" />

        <!-- Canvas基本操作 -->
        <activity android:name=".custom.CanvasOperationActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>